
{% for article in articles %}
    <div class="row">
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{article.titre}}</h5>
            <p class="card-text">
                {{ article.description|u.truncate(200, '...', false) }}
            </p>
            <p> {{ article.createdAt|date('d/m/y') }} </p>
            <a href="#" class="btn btn-primary">Print</a>
        </div>
        </div>
    </div>
{% endfor %}